.App {
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font-family);
  background-color: var(--background-color-primary);
}

.Navbar {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-navbar);
  background-color: var(--color-primary-uber);
  color: var(--color-text-secondary);
  padding: var(--padding-xl);
  border: 1px solid var(--color-primary);
}

.Navbar a {
  color: var(--color-text-primary);
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Navbar a:hover {
  transform: scale(1.3) translateY(-5%);
}
